*{
    margin: 0;
    padding: 0;
}
body{
    background: url(backdrop/stripes.webp);
    background-size: cover;
    background-attachment: fixed;
    color: black;
}
.heading{
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 100px;
}
.heading__T{
    font-size: 1.8em;
}
.heading__S{
    font-size: 18px;
    margin-top: 10px;
}
.container{
    width: 90%;
    margin: auto;
}
form{
    background-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-color: white;
    padding-top: 34px;
    display: block;
    align-items: center;
    justify-content: center;
    width: 54%;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 60px;
}
form .box{
    width: 100%;
    height: 2.8em;
    position: relative;
    bottom: 10px;
    border: 0;
    border-radius: 7px;
}
.Soption select{
    width: 100%;
    height: 2.8em;
    position: relative;
    bottom: 10px;
    border: 0;
    border-radius: 7px;
}
.Soption2 select{
    width: 100%;
    height: 2.8em;
    position: relative;
    top: 5px;
    border: 0;
    border-radius: 7px;
}
.container2{
    margin-top: 10px;
}
.container2 textarea{
    width: 100%;
    height: 125px;
    position: relative;
    bottom: 17px;
}

button{
    width: 100%;
    height: 3em;
    position: relative;
    top: 11px;
    background-color: blueviolet;
}
textarea::placeholder{
    font-size: 1.1em;
    position: relative;
    top: 8px;
    left: 5px;
    width: 70%;
}
input::placeholder{
    font-size: 1.1em;
    position: relative;
    left: 10px;
    width: 50%;
    font-weight: 500;
}
input.larger{
    width: 20px;
    height: 20px;
}
@media screen and (max-width: 600px){
    form{
        width: 100%;
        margin: auto;
    }
}